*,
*::before,
*::after{
    box-sizing: border-box;
}
section{
    padding: 120px 0;
}
h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
main{
    flex-grow: 1;
}
.body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #FFFFFF; 
    display: flex;
    flex-direction: column;
    
   
}
.container {
    margin: 0 auto;

    width: 1158px;
    display: flex;
   padding-top: 24px;
    padding: 0 15px 0 15px;
    
    
}
.section{
    padding: 120px 0;
}
img {
    display: block;
}
.head-list{
    border-bottom: 1px solid #e7e9fc;
}


.logo-name-web{
    font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}
.logo-span-studio{
    font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;

}


.address-link{
    font-style: normal;
    display: flex;
    gap: 40px;
    margin-left: 332px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.head-title-link{
    display: flex;
    gap: 40px;
    margin-right: 0;
   
}



.nav-studio-logo {
    font-weight:  700;
    font-size:18px; 
    line-height: .16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
    
}


.studio-list-items{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.address-email-items{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.name-link{
    padding: 24px 0;
}



.head-list-title{
    font-weight: 500;
    font-size: 16px  ;
    line-height: 1.5;
    letter-spacing: 0.02em;
   color: #2e2f42;
}
.head-list-title .link:focus{
color: #404bbf;
}
.head-list-title .link:hover{
    color: #404bbf;
}
.address {
    font-style: normal;
}
.head-list-address{
    font-size: 16px;
    line-height:1.5;
    letter-spacing:0.02em ;
    color: #434455;

}
.head-list-address .link:hover{
    color: #404bbf;
}

.head-list-address .link:focus{
    color: #404bbf;
}


.section-list-name{
    font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
text-align: center;
margin-left: auto;
margin-right: auto;
}

  

.section-one-item
{
    max-width: 1440px;
height: 600px;
background: #2e2f42; 
padding: 188px 0 188px
}

.button-style-design{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    color: #fff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:#4d5ae5;
    border-radius: 4px;
    display: block;
    align-items: center;
    margin: 0 auto;
   
    
    
  
}
.button-style-design .link:focus{
    background-color: #404BBF;
}
.button-style-design .link:hover{
    background-color: #404BBF;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

   

.section-list-character{
    display: flex;
    max-width: 1128px;
    height: 104px;
    gap: 24px;
   }
   .sections-number-list{
   flex-basis: calc((100% - 3 * 24px) / 4)
   }

.section-list-names{
  margin-bottom: 8px;
 
}

.character-option-list{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.section-team-foto{
background-color: #F4F4FD;
max-width: 1128px;

}
.header-title-name{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-top: 120px;
max-width: 218px;
height: 40px;
margin-bottom: 72px;



}
.section-two-item{
    
    width: calc((100% - 72px) / 4);
}
.section-font-style{
    gap: 24px;
    margin-right: 0;
    display: flex;
    margin-bottom: 72px;
}

.name-person-work{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.foto-people{
    
    border-radius: 0px 0px 4px 4px;

}
.names-workers{
    padding: 32px 0;
}
.section-team-foto{
background: #f4f4fd;
max-width: 1440px;

}
.name-person-work{
    text-align: center;
    margin-bottom: 8px;

}
.portfolio-items{
    margin-bottom: 72px;

    
}
.list-images{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    margin-right: 0 auto;
    row-gap: 48px;
    margin-bottom: 0;
   max-height: 1128px;
   margin-top: 72px;
   

}
.foto-app{
    margin-top: 72px;
    width: calc((100% - 48px) / 3);
    
   
   
}
.categories-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;


}

.logo-footer{
   
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height:  1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
padding-left: 0;
margin-bottom: 16px;

}
.logo-name-studio{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
     }
.footer-text-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 140px;
    display: inline-block; 
    
    }
 .footer-class{
    
background-color : #2e2f42;
padding-top:100px;
padding-bottom: 100px;
 }


 
 
