*,
*::before,
*::after{
    box-sizing: border-box;
}
section{
    padding: 120px 0;
}
h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
main{
    flex-grow: 1;
}
.body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #FFFFFF; 
    display: flex;
    flex-direction: column;
    
   
}
.container {
    margin: 0 auto;
    width: 1158px;
    display: flex;
   padding: 0 15px 0 15px
   
    
    
    
}
.section{
    padding: 120px 0;
}
img {
    display: block;
    max-width: 100;
}
/* ====== header===========*/
.head-list{
    border-bottom: 1px solid #e7e9fc;
     
}
.nav-studio-logo {
    font-weight:  700;
    font-size:18px; 
    line-height: .16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    }
.logo-name-web{
        font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
   
    text-decoration: none;
}
.logo-span-studio{
        font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
 }
 .head-title-link{
    display: flex;
    gap: 40px;
    margin-right: 0;
   
}
.name-link{
    font-weight: 500;
        font-size: 16px  ;
        line-height: 1.5;
        letter-spacing: 0.02em;
       color: #2e2f42;
       padding: 24px 0;
       text-transform:initial;
       text-decoration: none;
    }
    .name-link:focus,
    .name-link:hover{
        color: #404bbf;
    }
.address {
    font-style: normal;
}
.address-link{
    font-style: normal;
    display: flex;
    gap: 40px;
    margin-left: 332px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.mail-link{
    font-size: 16px;
    line-height:1.5;
    letter-spacing:0.02em ;
    color: #434455;
    text-decoration: none;
}
.mail-link:hover,
.mail-link:focus{
    color: #404BBF;
}
/* ====== section1===========*/
.section-one-item{
    padding: 188px 0;
}
.button-type{
    max-width: 1440px;
background: #2e2f42; 
display:block ;
padding: 188px 0 188px;
}
.section-list-name{
    font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
display: block;
max-width: 496px;
align-items: center;
margin-left: auto;
margin-right: auto;
padding-bottom: 48px;
}
.button-style-design{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background-color:#4d5ae5;
     display: block;
     margin-right:auto;
   margin-left: auto;
   border-radius: 4px;
   height: 56px;
   min-width: 169px;
}
.button-style-design .link:focus{
    background-color: #404BBF;
}
.button-style-design .link:hover{
    background-color: #404BBF;
}

/* ====== section2===========*/
.section-two-item{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-list-character{
    display: flex;
   
}
     .sections-number-list{
    flex-basis: calc((100% - 3 * 24px) / 4);
    margin-right: 24px;

}
.sections-number-list:last-child{
    margin-right: 0;
}
 .section-list-names{
    margin-bottom: 8px; 
  }
/* ====== section3===========*/
.header-title-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-top: 120px;
    margin-bottom: 72px;
    max-width: 218px;
    height: 40px;
    display: flex;
   
    
    }
    
.section-font-style{
        gap: 24px;
        margin-right: 0;
        display: flex;
        margin-bottom: 72px;
}
.foto-people{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.names-workers{
    padding: 32px 0;
}
.name-person-work{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .team-foto-people{
        list-style-type: none;  
    }
    .section-font-style{
        list-style-type: none;
    }








/* ====== section4===========*/
.section-team-foto{
background: #f4f4fd;
max-width: 1440px;
}
.portfolio-items{
    margin-bottom: 72px;
}
.list-images{
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    margin-right: auto;
    max-width: 1128px;
   margin-top: 72px;
  }
.foto-app{
    margin-top: 72px;
    margin-bottom: 0;
    width: calc((100% - 48px) / 3);
}
.categories-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.name-person-work{
    text-align: center;
    margin-bottom: 8px;
}
.character-option-list{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}


/* ====== footer===========*/
.footer-class{
    padding: 100px 0;
background-color : #2e2f42;
 }
 .footer-logo{
    display: inline-block;
}
.logo-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height:  1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
    display: inline-block;
}
.logo-name-studio{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 140px;
}



 
 
